* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }


  h1, h2, h3, h4, h5,h6, p{
    font-family: 'Roboto Condensed', sans-serif;
  }

.first-p{
 margin-left: 1rem;
  font-size: 80px;
}

  .carousel{
    width: 100%;
    border-radius: 100%;
    margin: 10px;
    
  }
 
.color-all{
  background-color: rgb(215, 250, 241);
}
  
 .img-fluid{
    height: 605px;
    width: 600px;
      border-radius: 25px;
      
  }
 
  footer {
    padding-top: 3rem;
    text-align: center;
  }
  @media screen and (max-width: 1028px){
    .img-fluid {
      position: static;
      transform: rotate(0);
    }

  }
